@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-size: 5vw;
    width: 100%;
  }

  @media (min-width: 768px) {
    body {
      font-size: 5vw;
      
    }
  }

  @media (min-width: 1024px) {
    body {
      font-size: 4.2vh;
    }
  }

  @media (min-width: 1280px) {
    body {
      font-size: 4.45vh;
    }
  }
}